body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADFE8;
}

.pokedex {
    display: flex;
    gap: 30px; /*espaçamento entre os conteúdos filhos */
    padding: 30px 0; /*espaçamento entre a borda e o conteudo */
}